@tailwind base;
@tailwind components;
@tailwind utilities;

.mybg{
    background: lightblue;
}

.foot{
    background: rgba(106, 106, 109, 0.544);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    z-index: 100;
}